.navbar-brand {
    /* margin-left: 5vh; */
    font-weight: 500;
    font-size: 30px!important;
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.navbar-nav {
    gap: 15px;
}
.navbar-collapse {
    justify-content: center;
}
.navbar-text {
    font-weight: 500;
    color: green!important;
    font-size: 25px !important;
}
.form-content{
    font-size: 30px;

}
.search-icon {
    position: relative;
    display: flex;
    right: 85%; /* Ajuste a posição do ícone */

    align-items: center;
}
